@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.buttons {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons:disabled {
  background-color: #707070;
}

.bg-grey {
  background-color: #707070;
}

.bg-dark-blue {
  background-color: #131825;
}

.bg-light-blue {
  background-color: #212030;
}

.buttons button {
  width: 100%;
  transition: 0.18s;
}

.btn:hover {
  background-color: #303030;
}

.max-width-200 {
  max-width: 200px;
}

.max-width-100 {
  max-width: 120px;
}

.width-20 {
  width: min-content;
}

.max-w-screen {
  max-width: 90%;
}

.pad-r-12 {
  padding-right: 12px;
}

.wrap {
  position: relative;
  width: max-content;
  height: fit-content;
  display: block;
}

.midImg {
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
}

.bg-blk {
  background-color: #202020;
}

.container {
  display: flex;
}

.container div {
  flex: 1;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.drawer {
  align-content: center;
}

/* this makes civic popup display correctly. ffs. */
[data-testid="WRAPPER_CONTAINER"] div div {
  flex: initial;
}

.btn-img-text {
  height: 20px;
}

.btn-img-text-large {
  height: 30px;
}

.center-children {
  align-items: center;
}